.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* RESET CSS  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBALS  STYLE */
.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

/* .html {
  scroll-behaviour: smooth;
} */

/* CARD STYLE */
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  background: #fff;
  width: 16rem;
  height: 22rem;
  border-radius: 7px;
  margin: 10px;
}
.card-content__inner,
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  width: 90%;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  height: 100%;
}
.card-content__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.card-content-inner__center {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.top-symbol-sigle,
.bottom-symbol-sigle {
  text-align: center;
  width: 100%;
}

.top-symbol,
.bottom-symbol {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.top-symbol {
  align-items: flex-start;
}
.bottom-symbol {
  align-items: flex-end;
}
.center-symbol-sigle {
  font-size: 72px;
}

/* DYNAMIC COLOR CLASS SECTION */
.red {
  color: red;
}
.black {
  color: black;
}

/* DYNAMIC CENTER CARD SECTION */
.grid-3,
.grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1px;
  padding-bottom: 5%;
  align-items: center;
  width: 85%;
  text-align: center;
}
.grid-4 {
  grid-gap: 5%;
}

.grid-5 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, 0);
}
.grid-5 {
  grid-gap: 54px;
}
.grid-6 {
  grid-gap: 6%;
  transform: translate(0, -1rem);
}
.grid-7 {
  grid-gap: 8%;
  transform: translate(0, -1rem);
}
.grid-7 .centerCard:last-child {
  position: absolute;
  transform: translate(175%, -10%);
}
.grid-8 {
  transform: scale(0.9) translate(0, -3.4rem);
}
.grid-9 {
  transform: scale(0.9) translate(0, -3rem);
}
.grid-10 {
  transform: scale(0.9) translate(0, -2.7rem);
  grid-row-gap: 0px;
  grid-column-gap: 22.5%;
}

.grid-9 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, -2rem);
}

.grid-10 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, -2rem);
}
.grid-10 .centerCard:nth-child(9) {
  position: absolute;
  transform: translate(79px, 137px);
}
.figure-picture {
  transform: scale(0.94) translate(0, 10px);
}
